version: '3.8'

services:
  # PostgreSQL
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: online_course
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  # Zookeeper (for Kafka)
  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.0
    container_name: zookeeper
    environment:
     ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"

  # Kafka
  kafka:
    image: confluentinc/cp-kafka:7.6.0
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  # Debezium (CDC for PostgreSQL)
  debezium:
    image: debezium/connect:2.2
    container_name: debezium
    ports:
      - "8083:8083"
    environment:
      BOOTSTRAP_SERVERS: kafka:9092
      GROUP_ID: 1
      CONFIG_STORAGE_TOPIC: my_connect_configs
      OFFSET_STORAGE_TOPIC: my_connect_offsets
      STATUS_STORAGE_TOPIC: my_connect_statuses
      CONFIG_STORAGE_REPLICATION_FACTOR: 1
      OFFSET_STORAGE_REPLICATION_FACTOR: 1
      STATUS_STORAGE_REPLICATION_FACTOR: 1  
    depends_on:
      - kafka
      - postgres

  # ClickHouse
  clickhouse:
    image: clickhouse/clickhouse-server:23.4
    container_name: clickhouse
    environment:
      CLICKHOUSE_USER: superset_user
      CLICKHOUSE_PASSWORD: superset123
      CLICKHOUSE_DB: default
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse

  # Apache Airflow
  airflow:
    image: apache/airflow:2.7.1
    container_name: airflow
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "postgresql+psycopg2://admin:admin@postgres:5432/online_course"
    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
    #  - ./logs:/opt/airflow/logs
    #  - ./plugins:/opt/airflow/plugins
    depends_on:
      - postgres
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com &&
      airflow scheduler &
      airflow webserver
      "

  # Apache Superset
    # Apache Superset
  superset:
    build:
      context: .
      dockerfile: Dockerfile.superset
    container_name: superset
    ports:
      - "9090:8088"
    environment:
      SUPERSET_ENV: docker
      SUPERSET_LOAD_EXAMPLES: "no"
      SUPERSET_SECRET_KEY: "m0gQV5Pu9F3Yj4G+oH9N7u1dE6z8Qv2ZlJKj4sffABCD"
    volumes:
      - superset_home:/app/superset_home
    depends_on:
      - clickhouse
    command: >
      /bin/bash -c "
      superset db upgrade &&
      superset fab create-admin --username admin --password admin --firstname Superset --lastname Admin --email admin@example.com || true &&
      superset init &&
      superset run -h 0.0.0.0 -p 8088
      "

volumes:
  pg_data:
  clickhouse_data:
  superset_home: